In [1]:
import os
import pandas as pd

In [5]:
# Specify the folder path containing the CSV files
folder_path = 'data'
# Initialize an empty dictionary to store the DataFrames
# Initialize an empty list to store individual DataFrames
df_list = []

for filename in os.listdir(folder_path):
    # Check if the file is a CSV file
    if filename.endswith('.csv'):
        # Construct the full file path
        file_path = os.path.join(folder_path, filename)
        
        # Read the CSV file into a DataFrame, specifying the separator as ';'
        df = pd.read_csv(file_path, sep=';')
        
        # Append the DataFrame to the list
        df_list.append(df)

# Merge all DataFrames into one
merged_df = pd.concat(df_list, ignore_index=True)

In [6]:
merged_df.shape

(8852195, 8)

In [7]:
merged_df.head()

,sensor_id,sensor_type,location,lat,lon,timestamp,value_type,value
0,49,pms5003,3573,-1.289,36.825,2023-11-01T00:00:10.706572+00:00,P2,20.6
1,49,pms5003,3573,-1.289,36.825,2023-11-01T00:00:10.706572+00:00,P1,22.4
2,49,pms5003,3573,-1.289,36.825,2023-11-01T00:00:10.706572+00:00,P0,10.4
3,50,DHT22,3573,-1.289,36.825,2023-11-01T00:00:11.694753+00:00,humidity,99.9
4,50,DHT22,3573,-1.289,36.825,2023-11-01T00:00:11.694753+00:00,temperature,17.9